*{
  margin: 0;
  box-sizing: border-box;
}
#container{
  width: 100%;
  height: 650px;
  background-color: white;
  float: left;
}
#inner-div{
  width: 95%;
  height: 80%;
  background-color: papayawhip;
  float: left;
  margin-left: 2%;
  margin-top: 5%;
  box-shadow: 5px 7px 20px rgb(170, 170, 170);
}
#product{
  width: 40%;
  height: 70%;
  float: left;
  margin-left: 30%;
  margin-top: 5%;
}
#product-img{
  width: 50%;
  height: 100%;
  float: left;
  background-size: cover;
  background-image: url(images/image-product-desktop.jpg);
}
#product-cnt{
  width: 50%;
  height: 100%;
  float: left;
  background-color: white;
}
.parfum{
  margin-top: 25px;
  margin-left: 20px;
  letter-spacing: 5px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#product-cnt h1{
  margin-top: 20px;
  margin-left: 20px;
  line-height: .8;
  font-size: 40px;
}
.pgh{
  margin-top: 20px;
  margin-left: 20px;
  line-height: 1.3;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.d-rate{
  font-size: 14px;
  margin-top: 15px;
  margin-left: 20px;
}
.d-rate span{
  font-size: 25px;
  color: rgb(3, 73, 3);
}
#product-cnt button{
  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  color: white;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(3, 73, 3);
}
 

